@import url("http://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,400;1,500&display=swap");

:root {
    --main: #122ca0;
    --boxShadow: 10px 10px 10px 10px rgba(152,148,148,0.3), inset 10px 10px 10px 10px rgba(108,105,105,0.4);
}

body {
    font-family: "Besley", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    border: none !important;
    outline: none !important;
    transition: 0.2s ease-in;
}

::selection {
    background: var(--main);
    color: #ffffff; /* White color for better contrast */
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main);

}
::-webkit-scrollbar-track{
    background-color: #000;
}